*{box-sizing: border-box}

.wrapper{
    box-sizing: border-box;
}

header{
    background-color: bisque;
    font-size: 40px;
    width: 350px;
}

.instructions{
    background-color: yellow;
    width: 500px;

}

.randomNumber{
    height: 150px;
    width: 175px;
    margin-right: 25px;
    background-color: turquoise;
    float: left;
}

#randomNumber{
    font-size: 50px;
}

.winLossBox{
    height: 150px;
    width: 80px;
    background-color: steelblue;
    float: left;
}

.crystals{
    clear: both;
    padding-top: 20px;
}

.btn{
    height: 150px;
    width: 150px;
    float: left;
    padding: 5px;
    margin: 5px;
}

.btn-1{
    background-color: rgb(221, 149, 14);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0pkDPHNeml4N4i7pIV6tyG0O5f_XE2TVC88j4wW05C_-Lr0JM");
    }

.btn-2{
    background-color: rgb(226, 17, 17);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-dIGl8tgM8-icTHOgl5vDFeW0ii6eIk1QiourTYcn6tU75RZM");
}

.btn-3{
    background-color: rgba(43, 59, 199, 0.856);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsQ2erHvYiKZ8YI0L4dhub1D4gzCXUBL2SBFWatFjRguD2HVAq5Q");
    color: white;
}

.btn-4{
    background-color: rgb(93, 14, 139);
}

.yourScoreIs{
    clear: both;
    background-color: skyblue;
    width: 250px;
}

.crystalTotals{
    clear: both;
    background-color: rgb(238, 241, 22);
    width: 250px;
    height: 200px;
}

#crystalTotals{
    font-size: 45px;
}

body{
background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtrpMRM67CXyRZTDgvnYcrR1mJF_2DrcO2jNR7IZ2gzkqpGFNH");
background-size: cover;
background-repeat: no-repeat;
}

